.container {
  position: relative;
}

.space {
  position: absolute;
  z-index: 0;
  inset: 1;
}

.headline {
  position: relative;
  z-index: 1;
  padding-block-start: 9rem;
  padding-block-end: 30vh;
}
